@font-face {
    font-family: odinFont;
    src: url(/Users/jonasreinhard/repos/odin-signupform/signupform/assets/Norse-Bold.otf);
    font-family: robotoFont;
    src: url(/Users/jonasreinhard/repos/odin-signupform/signupform/assets/Roboto.ttf);
}

*{
    font-family: robotoFont;
    font-weight: 500;
}

body{
    display: flex;
    margin:0;
}

.left-side,.right-side{
    display: flex;
    height: 100vh;
}

.left-side{
    flex-grow: 1;
    flex-shrink: 0;
    background-image: url('assets/background.jpg');
    flex-direction: column;

}



.right-side{
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-grow: 3;
    background-color: #dce0e6;
    flex-direction: column;
    
}
.right-side > *{
    padding: 20px;
}

.left-form,.right-form{
    flex-grow:5;
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.left-form label, .right-form label{
    padding-top: 20px;
}

.empty-form-space{
    flex-grow:4;
}

.form form{
    background-color: #e9ecef;
    display: flex;
}

.odin-logo{
    width: 20%;
    height: auto;
    flex-grow: 2;
}
.logo-text{
    font-family: odinFont;
}

.footer{
    flex-grow: 5;
    align-self: center;
    justify-content: end;
    
}

.visibility-div{
    background-color: grey;
    opacity: 30%;    
    position: relative;
    top: 10vh;    
}

#create-acc-btn{
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    color:white;
    background-color:#596D48;
}

.text,.subtext{
    font-size: 20px;
}
